﻿@section Scripts {
    @Scripts.Render("~/Scripts/skripta.js")
}


<div class="row top-buffer ">

    <div id="registracija" class="col-sm-offset-4 col-sm-4 ">
        <form class="form-horizontal" method="post" action="post/" id="registracija">
            <h3>Registracija</h3>
            <div class="form-group">
                <label >Email</label>
                <input class="form-control" type="text" id="regEmail" />
            </div>
            <div class="form-group">
                <label>Lozinka</label>
                <input class="form-control" type="password" id="regLoz" />
            </div>
            <div class="form-group">
                <label  >Potvrdi Lozinku</label>
                <input class="form-control" type="password" id="regLoz2" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Registracija</button>
            </div>
        </form>
    </div>

    <div id="prijava" class="form-horizontal col-sm-offset-4 col-sm-4 ">

        <form method="post" action="post/" id="prijava">
            <h3 style="text-align:center">Prijava</h3>
            <div class="form-group">
                <label style="text-align:left" class="col-sm-3 control-label">Email</label>
                <input class="form-control" type="text" id="priEmail" />
            </div>
            <div class="form-group">
                <label style="text-align:left" class="col-sm-3 control-label">Lozinka</label>
                <input class="form-control" type="password" id="priLoz" />
            </div>
            <div class="form-group">
                <button id="prijava-btn" type="submit" class="btn btn-default">Prijava</button>
                <button id="reg-btn" style="float:right" type="submit" class="btn btn-primary">Registracija</button>
            </div>

        </form>
    </div>
</div>


<div class="row top-buffer ">
    <div id="info" class=" col-md-offset-4 col-md-8  ">
        <p id="info-korisnik" style="text-align:left"></p>
        <button class="btn btn-default" id="odjava-btn">Odjavi se</button>
    </div>
</div>

<div class="row top-buffer ">
    <div id="container" class=" col-md-offset-3 col-md-6 ">

        <h3 style="text-align:center">Festivali</h3>

        <div id="table-div"></div>

    </div>
</div>

<div id="pretraga" class="row top-buffer ">
    <div class="col-sm-offset-4 col-sm-6">
        <h3 style="text-align:center">Pretraga festivala</h3>
        <form id="pretraga-frm" class="form-inline" action="post/">
            <div class="form-group">
                <label>Start</label>
                <input id="start" type="number"  />
            </div>
            <div class="form-group">
                <label>Kraj</label>
                <input id="kraj" type="number"  />
            </div>
            <div class="form-group">
                <button type="submit" >Pretrazi</button>
            </div>
        </form>

    </div>

</div>

<div id="unos" class="row top-buffer">
    <div class="col-sm-offset-4 col-sm-4 ">
        <h3 style="text-align:center">Dodavanje novog festivala</h3>
        <form id="unos-fest" action="post/">
            <div class="form-group">
                <label>Naziv</label>
                <input style="float:right" type="text" id="naziv-fes" />
            </div>
            <div class="form-group">
                <label>Cena karte</label>
                <input style="float:right" type="number" id="cena-karte" />
            </div>
            <div class="form-group">
                <label>Prvo odrzavanje</label>
                <input style="float:right" type="number" id="prvo-odrz" />
            </div>
            <div class="form-group">
                <label>Mesto</label>
                <select style="float:right" id="mesta-select"></select>
            </div>
            <div class="form-group">
                <button type="submit">Dodavanje</button>
                <button id="odustani-btn" style="float:right" type="submit">Odustajanje</button>
            </div>
        </form>

    </div>
</div>
